<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/images/logo2.png" type="image/png">
    <title>管理员首页</title>
    <link href="../../static/lib/bootstrap-3.4.1/css/bootstrap.min.css" rel="stylesheet" th:href="@{/lib/bootstrap-3.4.1/css/bootstrap.min.css}">
    <link href="../../static/lib/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" th:href="@{/lib/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <link href="../../static/css/responsive.css" rel="stylesheet" th:href="@{/css/responsive.css}">
    <link href="../../static/css/backstage.css" rel="stylesheet" th:href="@{/css/backstage.css}">

</head>
<body class="sticky-header">

    <!--左边菜单开始-->
    <div th:replace="admin/_fragments :: menu" class="left-side sticky-left-side">
        <div class="logo">
            <a href="adminIndex.html" th:href="@{/admin/index}" ><img src="../../static/images/logo.png" th:src="@{/images/logo.png}" alt=""></a>
        </div>
        <div class="logo-icon text-center">
            <a href="adminIndex.html" th:href="@{/admin/index}"><img src="../../static/images/logo2.png" th:src="@{/images/logo2.png}" alt=""></a>
        </div>

        <div class="left-side-inner">
            <!--Sidebar nav-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class=" nav-active"><a href="adminIndex.html" th:href="@{/admin/index}"><i class="fa fa-home"></i> <span>首页</span></a>

                </li>

                <li class="menu-list"><a href="#"><i class="fa fa-newspaper-o"></i> <span>新闻中心</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="articles.html" th:href="@{/admin/articles}"> 集团动态</a></li>
                        <li><a href="#"> 一线快讯</a></li>
                        <li><a href="#">行业动态</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="fa fa-star"></i> <span>党的建设</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#"> 党建工作</a></li>
                        <li><a href="#">在线学习</a></li>
                        <li><a href="#">群团工作</a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="#"><i class="fa fa-bullhorn"></i> <span>通知公告</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#"> 公示公告</a></li>
                        <li><a href="#"> 消息披露 </a></li>
                    </ul>
                </li>

                <li class="menu-list"><a href="types.html"><i class="fa fa-gear"></i> <span>栏目管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="types.html" th:href="@{/admin/types}"> 一级大类</a></li>
                        <li><a href="#" th:href="@{/admin/subTypes}"> 二级子栏</a></li>
                    </ul>
                </li>
            </ul>
            <!--End sidebar nav-->

        </div>
    </div>
    <!--左侧菜单结束 -->

    <!-- header section start-->
    <div th:replace="admin/_fragments :: header" class="header-section ">

        <a class="toggle-btn"><i class="fa fa-bars"></i></a>

        <form class="searchform">
            <input type="text" class="form-control" name="keyword" placeholder="搜索点击这里..." />
        </form>

        <!--notification menu start -->
        <div class="menu-right">
            <ul class="notification-menu">
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-tasks"></i>
                        <span class="badge">8</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">你有8个代办任务</h5>
                        <ul class="dropdown-list">
                            <li class="notification-scroll-list notification-list ">
                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa  fa-shopping-cart noti-primary"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">1个订单已经被处理</h5>
                                            <p class="m-0">
                                                <small>29 分钟前</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa fa-check noti-success"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">数据库备份已经完成</h5>
                                            <p class="m-0">
                                                <small>12 分钟 前</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa fa-user-plus noti-info"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">新用户注册</h5>
                                            <p class="m-0">
                                                <small>17 分钟前</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa fa-diamond noti-danger"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">数据库错误.</h5>
                                            <p class="m-0">
                                                <small>11 min ago</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>

                                <!-- list item-->
                                <a href="javascript:void(0);" class="list-group-item">
                                    <div class="media">
                                        <div class="pull-left p-r-10">
                                            <em class="fa fa-cog noti-warning"></em>
                                        </div>
                                        <div class="media-body">
                                            <h5 class="media-heading">更新设置</h5>
                                            <p class="m-0">
                                                <small>18 分钟前</small>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="last"> <a href="#">查看所有通知</a> </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                        <i class="fa fa-bell-o"></i>
                        <span class="badge">4</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-head pull-right">
                        <h5 class="title">通知</h5>
                        <ul class="dropdown-list normal-list">
                            <li class="message-list message-scroll-list">
                                <a href="#">
                                    <span class="photo"> <img src="../../static/images/avatar-6.jpg" th:src="@{/images/avatar-6.jpg}" class="img-circle" alt="img"></span>
                                    <span class="subject">管理员</span>
                                    <span class="message">新的任务需要完成</span>
                                    <span class="time">15 分钟前</span>
                                </a>
                                <a href="#">
                                    <span class="photo"> <img src="../../static/images/avatar-6.jpg" th:src="@{/images/avatar-6.jpg}" class="img-circle" alt="img"></span>
                                    <span class="subject">管理员</span>
                                    <span class="message">新的任务需要完成</span>
                                    <span class="time">15 分钟前</span>
                                </a>
                                <a href="#">
                                    <span class="photo"> <img src="../../static/images/avatar-6.jpg" th:src="@{/images/avatar-6.jpg}" class="img-circle" alt="img"></span>
                                    <span class="subject">管理员</span>
                                    <span class="message">新的任务需要完成</span>
                                    <span class="time">15 分钟前</span>
                                </a>
                            </li>
                            <li class="last"> <a  href="#">所有消息</a> </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src="../../static/images/avatar-6.jpg" th:src="@{/images/avatar-6.jpg}" alt="" />
                        管理员
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li> <a href="#"> <i class="fa fa-wrench"></i> 设置 </a> </li>
                        <li> <a href="#"> <i class="fa fa-user"></i> 外观 </a> </li>
                        <li> <a href="#"> <i class="fa fa-info"></i> 帮助 </a> </li>
                        <li> <a href="#" th:href="@{/admin/logout}"> <i class="fa fa-lock"></i> 退出 </a> </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!--notification menu end -->

    </div>
    <!-- header section end-->

    <!--主要内容开始-->
    <div class="main-content" >

        <!--body wrapper start-->
        <div class="wrapper">

            <!--Start Page Title-->
            <div class="page-title-box">
                <h4 class="page-title">首页 </h4>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>

                    <li class="active">
                        首页
                    </li>
                </ol>
                <div class="clearfix"></div>
            </div>
            <!--End Page Title-->

            <!--Start row-->
            <div class="row">
                <div class="container">
                    <div class="analytics-box">
                        <!-- Start inbox widget-->
                        <div class="col-md-12">
                            <div class="white-box">
                                <h2 class="header-title"> 首页 </h2>
                                <div class="field ">
                                    <h2>欢迎管理员<span th:text="${session.user.nickname}"></span>登录系统~</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Start inbox widget-->
                    </div>
                </div>
            </div>
            <!--End row-->





        </div>
        <!-- End Wrapper-->


        <!--Start  Footer -->
        <footer class="footer-main">Copyright &copy; 2021.抚州市金融控股有限公司 All rights reserved.<a  href="https://beian.miit.gov.cn/" target="_blank">赣ICP备18010030号</a></footer>
        <!--End footer -->

    </div>
    <!--主要内容结束 -->

    <!-- Start Script  -->
    <script type="text/javascript" src="../../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../../static/js/jquery.nicescroll.js" th:src="@{/js/jquery.nicescroll.js}"></script>
    <script type="text/javascript" src="../../static/js/jquery.slimscroll.js"  th:src="@{/js/jquery.slimscroll.js}"></script>
    <script type="text/javascript" src="../../static/js/functions.js"  th:src="@{/js/functions.js}"></script>
    <!-- End Script   -->
</body>
</html>