<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/images/logo2.png" type="image/png">
    <title>网站后台管理系统</title>
        <link href="../../static/css/backstage.css" rel='stylesheet' type='text/css' th:href="@{/css/backstage.css}"/>
</head>
<body class="login-bg">
    <h1>网站后台管理员系统</h1>
    <div class="login-page">
        <h2 th:text="#{login.tip}">欢迎来到登录页面</h2>
        <div class="line">
            <span></span>
        </div>
        <div class="location">
            <img src="../../static/images/location.png" class="img-responsive" alt="" />
        </div>
        <form>
            <input type="text" id="username" class="text" value="账号" onfocus="this.value = ''"><div id="feedback"></div>
            <input type="password" id="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '123456';}">
            <div class="submit">
                <input type="submit" onclick="myFunction()" value="登录" >
            </div>

            <div class="clear"></div>
            <div class="new">
<!--                <h3><a href="#">忘记密码?</a></h3>-->
<!--                <h4><a href="#">注册</a></h4>-->
                <div class="clear"></div>
            </div>
        </form>
    </div>
    <!--start-copyright-->
    <div class="copy-right">
        <p>Copyright &copy; 2021.抚州市金融控股有限公司 All rights reserved.<a href="https://beian.miit.gov.cn/" target="_blank">赣ICP备18010030号</a></p>
    </div>
    <!--//end-copyright-->
</body>
<script type="application/x-javascript">
    addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar(){
        window.scrollTo(0,1);
    }
</script>
<script src="../../static/js/common.js" type="text/javascript" th:src="@{/js/common.js}"></script>
<script src="../../static/js/backstage.js" type="text/javascript" th:src="@{/js/backstage.js}"></script>
</html>
