<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fzjk.guanwang.mapper.AdminMapper">
<!--    查询管理员列表-->
    <select id="queryAdminList" resultType="Admin">
        select * from t_admin
    </select>

<!--    根据id查询管理员-->
    <select id="queryAdminById" resultType="Admin">
        select * from t_admin where id = #{id}
    </select>
    
<!--   根据前台注册的信息增加管理员-->
    <insert id="addAdmin" parameterType="Admin">
        insert into t_admin(account,password) values (#{account},#{pwd})
    </insert>
    
    <update id="updateAdmin" parameterType="Admin">
        update t_admin set account=#{account},password=#{password} where id = #{id}
    </update>

    <delete id="deleteAdmin" parameterType="int">
        delete from t_admin where id = #{id}
    </delete>
    
</mapper>