<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../statics/images/logo2.png" type="image/png">
    <title>400</title>
    <link href="../../statics/lib/bootstrap-3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../statics/css/style.css" rel="stylesheet">
    <script src="../../statics/lib/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script src="../../statics/lib/bootstrap-3.4.1/js/bootstrap.js"></script>
</head>
<body class="error-bg">
    <section>
        <div class="container">
            <div class="row">
                <div class="error-inner">
                    <h1>400</h1>
                    <h3>Page not found</h3>
                    <p>没有发现相关页面 请点击下方按钮</p>
                    <a href="../index.html" type="button" class="btn btn-primary">返回首页<a/>
                </div>
            </div>
        </div>
    </section>
</body>
</html>