<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/images/logo2.png" type="image/png">
    <title>404</title>
    <link href="../../static/lib/bootstrap-3.4.1/css/bootstrap.min.css" rel="stylesheet" th:href="@{/lib/bootstrap-3.4.1/css/bootstrap.min.css}">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <script src="../../static/lib/jquery-3.4.1/jquery-3.4.1.js" type="text/javascript" th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.js}"></script>
    <script src="../../static/lib/bootstrap-3.4.1/js/bootstrap.js" type="text/javascript" th:src="@{/lib/bootstrap-3.4.1/js/bootstrap.js}"></script>
</head>
<body class="error-bg">
<section>
    <div class="container">
        <div class="row">
            <div class="error-inner">
                <h1>404</h1>
                <h3>Oops, sorry we can not find that page</h3>
                <p>哎哟，对不起没有发现这个页面 请点击下方按钮</p>
                <a href="../index.html" type="button" class="btn btn-primary">返回首页</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>