<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../statics/images/logo2.png" type="image/png">
    <title>503</title>
    <link href="../../static/lib/bootstrap-3.4.1/css/bootstrap.min.css" rel="stylesheet" th:href="@{/lib/bootstrap-3.4.1/css/bootstrap.min.css}">
    <link href="../../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <script src="../../static/lib/jquery-3.4.1/jquery-3.4.1.js" type="text/javascript" th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.js}"></script>
    <script src="../../static/lib/bootstrap-3.4.1/js/bootstrap.js" type="text/javascript" th:src="@{/lib/bootstrap-3.4.1/js/bootstrap.js}"></script>
</head>
<body class="error-bg">
<section>
    <div class="container">
        <div class="row">
            <div class="error-inner">
                <h1>503</h1>
                <h3>Looks like we are having some server issues.</h3>
                <p>看来我们的服务器出了点问题 请联系管理员</p>
                <p>管理员联系方式：15979594979</p>
                <a href="../index.html" type="button" class="btn btn-primary">返回首页<a/>
                <div>
                    <div th:utext="'&lt;!--'" th:remove="tag" ></div>
                    <div th:utext="'Failed Request URL : ' + ${url}" th:remove="tag"  ></div>
                    <div th:utext="'Exception message : ' + ${Exception}"  th:remove="tag" ></div>
                    <ul th:remove="tag" >
                        <li th:each="st : ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
                    </ul>
                    <div th:utext="'--&gt;'"  th:remove="tag" ></div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>