<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable = 0">
    <meta name="keywords" content="抚州市金融控股有限公司,抚州金控,抚州金控集团,抚州金融控股,抚金控,抚州融资担保,抚州融资担保集团">
    <meta name="description" content="抚州市金融控股有限公司成立于2016年4月18日，是抚州市唯一一家金融控股性质的国有独资公司，属市政府直管企业，
                        目的是为了做抚州市地方金融的主力军和龙头企业，通过不断完善公司金融体系，提升企业的金融竞争力，提升金融市
                        场水平和辐射吸收能力，为抚州市经济社会发展提供更多、更好和更安全的金融服务。">
    <meta name="author" content="hoopokfung@163.com">
    <link rel="icon" href="../static/images/logo2.png" type="image/png" th:href="@{/images/logo2.png}">
    <title>抚州市金融控股有限公司</title>
        <link href="../static/lib/bootstrap-3.4.1/css/bootstrap.css" rel="stylesheet" th:href="@{lib/bootstrap-3.4.1/css/bootstrap.css}">
        <link href="../static/css/animate.min.css" rel="stylesheet" th:href="@{css/animate.min.css}">
        <link href="../static/css/swiper-3.4.0.min.css" rel="stylesheet" th:href="@{css/swiper-3.4.0.min.css}">
        <link href="../static/lib/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" th:href="@{lib/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
        <link href="../static/css/jquery.mmenu.all.css" rel="stylesheet" th:href="@{css/jquery.mmenu.all.css}">
        <link href="../static/css/style.css" rel="stylesheet" th:href="@{css/style.css}">
    <!--[if lt IE 9]>
        <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif] -->
</head>
<body>
    <!-- 头部 -->
    <header th:replace="list/_fragment :: menu(1)" class="header iheader tran300 ">
        <div class="w1440 clearfix">
           <a  href="index.html" class="logo fl">
               <img src="../static/images/logo.png" type="image/png" alt="this is a logo image." th:src="@{/images/logo.png}">
           </a>
            <a href="#menu" class="menuIcon fr">
                <span class="line1"></span>
                <span class="line2"></span>
                <span class="line3"></span>
            </a>
           <div class="pcNav fr">
               <ul class="clearfix">
                   <li class="nLi nLi1 tran400 on">
                      <h3>
                          <a href="index.html"  class="tran300 clearfix">
                              <span class="ch">首页</span>
                              <span class="en">HOME</span>
                              <i></i>
                          </a>
                      </h3>
                   </li>
                   <li class="nLi nLi2 tran400 ">
                       <h3>
                           <a href="list/about_1.html" th:href="@{/list/1}"  class="tran300 clearfix">
                               <span class="ch">关于金控</span>
                               <span class="en">ABOUT US</span>
                               <i></i>
                           </a>
                       </h3>
                       <div class="navSub">
                           <div class="wrap clearfix">
                               <ul class="clearfix">
                                   <li class="fl"><a href="list/about_1.html" target="_parent" >集团简介</a></li>
                                   <li class="fl"><a href="list/about_2.html" target="_parent" >集团领导</a></li>
                                   <li class="fl"><a href="list/about_3.html" >合作企业</a></li>
                                   <li class="fl"><a href="list/about_4.html" >组织架构</a></li>
                               </ul>
                           </div>
                       </div>
                   </li>
                   <li class="nLi nLi3 tran400 ">
                       <h3>
                           <a href="list/news_1.html"  class="tran300 clearfix">
                               <span class="ch">新闻中心</span>
                               <span class="en">NEWS</span>
                               <i></i>
                           </a>
                       </h3>
                       <div class="navSub">
                           <div class="wrap clearfix">
                               <ul class="clearfix">
                                   <li class="fl"><a href="list/news_1.html" >集团动态</a></li>
                                   <li class="fl"><a href="list/news_2.html" >一线快讯</a></li>
                                   <li class="fl"><a href="list/news_3.html" >行业动态</a></li>
                               </ul>
                           </div>
                       </div>
                   </li>
                   <li class="nLi nLi4 tran400 ">
                       <h3>
                           <a href="business.html"  class="tran300 clearfix">
                               <span class="ch">业务领域</span>
                               <span class="en">BUSINESS</span>
                               <i></i>
                           </a>
                       </h3>
                       <div class="navSub">
                           <div class="wrap clearfix">
                               <ul class="clearfix">
                                   <li class="fl"><a href="list/business_2.html" >融资担保</a></li>
                                   <li class="fl"><a href="list/business_3.html" >融资租赁</a></li>
                                   <li class="fl"><a href="list/business_1.html" >基金管理</a></li>
                                   <li class="fl"><a href="list/business_5.html" >商业保理</a></li>
                                   <li class="fl"><a href="list/business_4.html" >资产管理</a></li>
                                   <li class="fl"><a href="list/business_6.html" >供应链服务</a></li>
                               </ul>
                           </div>
                       </div>
                   </li>
                   <li class="nLi nLi5 tran400 ">
                       <h3>
                           <a href="party.html"  class="tran300 clearfix">
                               <span class="ch">党的建设</span>
                               <span class="en">PARTY BUILDING</span>
                               <i></i>
                           </a>
                       </h3>
                       <div class="navSub">
                           <div class="wrap clearfix">
                               <ul class="clearfix ">
                                   <li class="fl"><a href="#" >党建工作</a></li>
                                   <li class="fl"><a href="#" >在线学习</a></li>
                                   <li class="fl"><a href="#" >群团工作</a></li>
                               </ul>
                           </div>
                       </div>
                   </li>

                   <li class="nLi nLi6 tran400 ">
                       <h3>
                           <a href="inform.html"  class="tran300 clearfix">
                               <span class="ch">通知公告</span>
                               <span class="en">INFORM</span>
                               <i></i>
                           </a>
                       </h3>
                       <div class="navSub">
                           <div class="wrap clearfix">
                               <ul class="clearfix ">
                                   <li class="fl"><a href="#" >公示公告</a></li>
                                   <li class="fl"><a href="#" >信息披露</a></li>
                               </ul>
                           </div>
                       </div>
                   </li>
                   <li class="nLi nLi7 tran400 ">
                       <h3>
                           <a href="contact.html"  class="tran300 clearficlearfix">
                               <span class="ch">联系我们</span>
                               <span class="en">CONTACT US</span>
                               <i></i>
                           </a>
                       </h3>
                   </li>

               </ul>
               <i class="navLine"></i>
           </div>
        </div>


    </header>

    <!-- 中间部分 -->
    <div id="page">
        <nav th:replace="list/_fragment :: mmenu" id="menu" class="m_nav" style="display:none;">
            <ul>
                <li class="home">
                    <a href="index.html">网站首页</a>
                </li>
                <li>
                    <a href="list/about_1.html">关于金控</a>
                    <ul>
                        <li><a href="list/about_1.html" class="tran300">集团简介</a></li>
                        <li><a href="list/about_2.html" class="tran300">集团领导</a></li>
                        <li><a href="list/about_3.html" class="tran300">合作企业</a></li>
                        <li><a href="list/about_4.html" class="tran300">组织架构</a></li>
                    </ul>
                </li>
                <li>
                    <a href="list/news_1.html">新闻中心</a>
                    <ul>
                        <li><a href="list/news_1.html" class="tran300">集团动态</a></li>
                        <li><a href="list/news_2.html" class="tran300">一线快讯 </a></li>
                        <li><a href="list/news_3.html" class="tran300">行业动态</a></li>
                    </ul>
                </li>
                <li>
                    <a href="business.html">业务领域</a>
                    <ul>
                        <li><a href="list/business_2.html" class="tran300">融资担保</a></li>
                        <li><a href="list/business_3.html" class="tran300">融资租赁</a></li>
                        <li><a href="list/business_1.html" class="tran300">基金管理</a></li>
                        <li><a href="list/business_4.html" class="tran300">商业保理</a></li>
                        <li><a href="list/business_5.html" class="tran300">资产管理</a></li>
                        <li><a href="list/business_6.html" class="tran300">供应链服务</a></li>
                    </ul>
                </li>
                <li>
                    <a href="list/party_1.html">党的建设</a>
                    <ul>
                        <li><a href="list/party_1.html" class="tran300">在线学习</a></li>
                        <li><a href="list/party_2.html" class="tran300">组织建设</a></li>
                        <li><a href="list/party_3.html" class="tran300">群团工作</a></li>
                    </ul>
                </li>
                <li>
                    <a href="list/inform_1.html">通知公告</a>
                    <ul>
                        <li><a href="list/inform_1.html" class="tran300">公示公告</a></li>
                        <li><a href="list/inform_2.html" class="tran300">信息披露</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">联系我们</a>
                </li>
            </ul>
        </nav>

        <div class="pageWrap">
            <!-- 图片滚动栏bootstrap -->
            <section id="banner-carousel" class="carousel slide banner-slide hidden-xs" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#banner-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#banner-carousel" data-slide-to="1"></li>
                    <li data-target="#banner-carousel" data-slide-to="2"></li>
                    <li data-target="#banner-carousel" data-slide-to="3"></li>
                    <li data-target="#banner-carousel" data-slide-to="4"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="../static/images/banner1.jpg" alt="Banner Slide" th:src="${showPics.get(2).pic} ? ${showPics.get(2).pic} : ${showPics.get(2).url}">

                        <div class="carousel-caption">
                            <h1>履行国企职责 体现市场价值</h1>

                            <p>抚州金融控股集团</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../static/images/banner2.jpg" alt="..." th:src="${showPics.get(3).pic} ? ${showPics.get(3).pic} : ${showPics.get(3).url}">

                        <div class="carousel-caption">
                            <h1>坚持党的领导 加强党的建设</h1>

                            <p>抚州金融控股集团</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../static/images/banner3.jpg" alt="..." th:src="${showPics.get(4).pic} ? ${showPics.get(4).pic} : ${showPics.get(4).url}">

                        <div class="carousel-caption">
                            <h1>用户至上 用心服务</h1>

                            <p>创造多元的金融服务方式 满足各类客户的业务需求 用心提供专业的金融服务</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../static/images/banner5.jpg" alt="..." th:src="${showPics.get(5).pic} ? ${showPics.get(5).pic} : ${showPics.get(5).url}">

                        <div class="carousel-caption">
                            <h1>注重社会责任 回报当地经济</h1>

                            <p>抚州金融控股集团</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="../static/images/banner6.jpg" alt="..." th:src="${showPics.get(6).pic} ? ${showPics.get(6).pic} : ${showPics.get(6).url}">

                        <div class="carousel-caption">
                            <h1>稳健 责任 共赢</h1>

                            <p>以风险控制为底线 注重社会责任 服务企业互利共赢</p>
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control hidden" href="#banner-carousel" role="button" data-slide="prev" >
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control hidden" href="#banner-carousel" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </section>
            <!-- #banner-carousel-->

            <!-- Start 新闻 & 通知 -->
            <section class="news-inform ptb-50 gray-bg">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-8 col-sm-12 news-box">
                            <h3 class="h3">新闻中心
                                <a href="#" th:href="@{/list/5}" class="pull-right font-middle pt-10">更多 >></a>
                            </h3>
                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul id="tabOne" class="nav nav-tabs nav-justified">
                                    <li class="active"><a href="#contentOne-1" data-toggle="tab" aria-expanded="true">集团动态</a></li>
                                    <li class=""><a href="#contentOne-2" data-toggle="tab" aria-expanded="false">领导动态</a></li>
                                    <li class=""><a href="#contentOne-3" data-toggle="tab" aria-expanded="false">行业动态</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="contentOne-1">
                                        <ul>
                                            <li th:each="article : ${groupInfo}">
                                                <a href="#" th:href="@{/Article/articleShow/{id}(id=${article.id})}">
                                                    <div class="date text-center">
                                                        <em th:text="${#dates.format(article.updateTime,'dd')}">14</em>
                                                        <span th:text="${#dates.format(article.updateTime,'yyyy-MM')}">2021-09</span>
                                                    </div>
                                                    <div class="text">
                                                        <h5 class="title" th:text="${article.title}">金控担保集团顺利召开全市融资担保工作会</h5>
                                                        <p class="content" th:text="${article.description}">2021年7月16日，金控担保集团组织召开了全市融资担保工作会。 省融担高级经理罗慎、市金融办市场科邓志辉、市金 融控股有限公司副总经理刘文平、各县（区）担保子公司主要负责同志、财务负责 人和</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="contentOne-2">
                                        <ul>
                                            <li th:each="article : ${leaderInfo}">
                                                <a href="#" th:href="@{/Article/articleShow/{id}(id=${article.id})}">
                                                    <div class="date text-center">
                                                        <em th:text="${#dates.format(article.updateTime,'dd')}">14</em>
                                                        <span th:text="${#dates.format(article.updateTime,'yyyy-MM')}">2021-09</span>
                                                    </div>
                                                    <div class="text">
                                                        <h5 class="title" th:text="${article.title}">金控担保集团顺利召开全市融资担保工作会</h5>
                                                        <p class="content" th:text="${article.description}">2021年7月16日，金控担保集团组织召开了全市融资担保工作会。 省融担高级经理罗慎、市金融办市场科邓志辉、市金 融控股有限公司副总经理刘文平、各县（区）担保子公司主要负责同志、财务负责 人和</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane fade" id="contentOne-3">
                                        <ul>
                                            <li th:each="article : ${industryInfo}">
                                                <a href="#" th:href="@{/Article/articleShow/{id}(id=${article.id})}">
                                                    <div class="date text-center">
                                                        <em th:text="${#dates.format(article.updateTime,'dd')}">14</em>
                                                        <span th:text="${#dates.format(article.updateTime,'yyyy-MM')}">2021-09</span>
                                                    </div>
                                                    <div class="text">
                                                        <h5 class="title" th:text="${article.title}">金控担保集团顺利召开全市融资担保工作会</h5>
                                                        <p class="content" th:text="${article.description}">2021年7月16日，金控担保集团组织召开了全市融资担保工作会。 省融担高级经理罗慎、市金融办市场科邓志辉、市金 融控股有限公司副总经理刘文平、各县（区）担保子公司主要负责同志、财务负责 人和</p>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div> <!--.tabpanel-->
                        </div>
                        <div class="col-md-4 col-sm-12 accordion">
                            <h3 class="h3">通知公告
                                <a href="#" th:href="@{/list/18}" class="pull-right font-middle pt-10">更多 >></a>
                            </h3>
                            <div class="panel-group" id="accordionSixLeft">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordionSixLeft" href="#collapseSixLeftone" aria-expanded="false" class="collapsed" >
                                                <span class="title pull-left" th:text="${informInfo.get(0).title}">通知公告1</span>
                                                <span class="date pull-right" th:text="${#dates.format(informInfo.get(0).updateTime,'yyyy-MM-dd')}">2021-9-16</span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSixLeftone" class="panel-collapse collapse" aria-expanded="false" >
                                        <div class="panel-body" th:text="${informInfo.get(0).description}">
                                            规定，抚州市金融控股有限公司依法依规向社会公开遴选聘任法律顾问及诉讼代理律师。公开聘任坚持“公开、公正、择优”的原则，综合考虑专业素养、行业影响、品德口碑等因素择优聘任。
                                        </div>
                                    </div>
                                </div><!-- /.panel-default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionSixLeft" href="#collapseSixLeftTwo" aria-expanded="false">
                                                <span class="title pull-left" th:text="${informInfo.get(1).title}">通知公告2</span>
                                                <span class="date pull-right" th:text="${#dates.format(informInfo.get(1).updateTime,'yyyy-MM-dd')}">2021-9-16</span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSixLeftTwo" class="panel-collapse collapse" aria-expanded="false">
                                        <div class="panel-body" th:text="${informInfo.get(1).description}">
                                        </div>
                                    </div>
                                </div><!-- /.panel-default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="" data-toggle="collapse" data-parent="#accordionSixLeft" href="#collapseSixLeftThree" aria-expanded="true">
                                                <span class="title pull-left" th:text="${informInfo.get(2).title}">通知公告3</span>
                                                <span class="date pull-right" th:text="${#dates.format(informInfo.get(2).updateTime,'yyyy-MM-dd')}">2021-9-16</span>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseSixLeftThree" class="panel-collapse collapse in" aria-expanded="true">
                                        <div class="panel-body" th:text="${informInfo.get(2).description}">
                                        </div>
                                    </div>
                                </div><!-- /.panel-default -->

                            </div><!--end of /.panel-group-->
                        </div>
                        <!-- .aacordion-->

                    </div>
                    <!-- /.row -->
                </div>
            </section>
            <!-- End 新闻 & 通知 -->


            <!-- Start 党的建设 -->
            <section class="party-column">
                <div class="section-title">
                    <div class="container">
                        <img class="img-top" src="../static/images/dangshi.5eb802fb.jpg"  alt="" th:src="${showPics.get(7).pic} ? ${showPics.get(7).pic} : ${showPics.get(7).url}">
                    </div>
                </div>
                <div class="party-mid container">
                    <div class="row">
                        <div class="col-md-5 img-left">
                            <img class="img-responsive" src="../static/images/xidada.jpg" alt="" th:src=" ${showPics.get(0).pic} ? ${showPics.get(0).pic} : ${showPics.get(0).url}">
                        </div>
                        <div class="col-md-7">
                            <div class="promo-block-wrapper clearfix">
                                <div class="promo-icon">
                                    <i class="fa fa-external-link-square "></i>
                                </div>
                                <div class="promo-content">
                                    <h3><a href="#" th:href="${relays.get(0).url}" th:text="${relays.get(0).title}" target="_blank">习近平：在庆祝中国共产党成立100周年大会上的讲话</a></h3>
                                    <p th:text="${relays.get(0).description}">　7月1日，庆祝中国共产党成立100周年大会在北京天安门广场隆重举行。中共中央总书记、国家主席、中央军委主席习近平发表重要讲话。</p>
                                </div>
                            </div>
                            <!-- /.promo-block-wrapper -->

                            <div class="promo-block-wrapper clearfix">
                                <div class="promo-icon">
                                    <i class="fa fa-external-link-square"></i>
                                </div>
                                <div class="promo-content">
                                    <h3><a href="#" th:href="${relays.get(1).url}" th:text="${relays.get(1).title}" target="_blank">庆祝中国共产党成立100周年理论研讨会举行 王沪宁出席并讲话</a></h3>
                                    <p th:text="${relays.get(1).description}">
                                        2日上午，中共中央政治局常委、中央书记处书记王沪宁出席研讨会并讲话。
                                        他表示，要认真学习贯彻习近平总书记在庆祝中国共产党成立100周年大会上的重要讲话精神，
                                        推动把党史学习研究宣传引向深入，更好激发全党全国各族人民为全面建成社会主义现代化强国而奋斗的信心和力量。
                                    </p>
                                </div>
                            </div>
                            <!-- /.promo-block-wrapper -->

                            <div class="promo-block-wrapper clearfix">
                                <div class="promo-icon">
                                    <i class="fa fa-external-link-square  "></i>
                                </div>
                                <div class="promo-content last-type">
                                    <h3><a href="#" th:href="${relays.get(2).url}" th:text="${relays.get(2).title}" target="_blank">中共中央 国务院关于加强基层治理体系和治理能力现代化建设的意见</a></h3>

                                    <p th:text="${relays.get(2).description}">　基层治理是国家治理的基石，统筹推进乡镇（街道）和城乡社区治理，是实现国家治理体系和治理能力现代化的基础工程。
                                        为深入贯彻党的十九大和十九届二中、三中、四中、五中全会精神，夯实国家治理根基，现就加强基层治理体系和治理能力现代化建设提出如下意见。</p>
                                </div>
                            </div>
                            <!-- /.promo-block-wrapper -->

                        </div>
                    </div>
                </div>
                <div class="container smallCard">
                    <div class="row">
                        <div class="col-md-4 tabTwo">
                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul id="tabTwo" class="nav nav-tabs nav-justified">
                                    <li class="active"><a href="#contentTwo-1" data-toggle="tab" aria-expanded="true">党建工作</a></li>
                                    <li class=""><a href="#contentTwo-2" data-toggle="tab" aria-expanded="false">党的法规</a></li>
                                    <li class=""><a href="#contentTwo-3" data-toggle="tab" aria-expanded="false">群团工作</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="contentTwo-1">
                                        <div class="column-top" >
                                            <a href="#" th:href="@{/Article/articleShow/{id}(id=${partySmallCard.get(0).id})}">
                                                <div class="image">
                                                    <img th:if="${partySmallCard.get(0).firstPicture}" src="../static/images/会议图片1.jpg" alt="" th:src="@{${partySmallCard.get(0).firstPicture}}">
                                                    <div th:unless="${partySmallCard.get(0).firstPicture}" class="date">
                                                        <strong th:text="${#dates.format(partySmallCard.get(0).updateTime,'dd')}"></strong>
                                                        <span th:text="${#dates.format(partySmallCard.get(0).updateTime,'yyyy-MM')}"></span>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <h5 class="title" th:text="${partySmallCard.get(0).title}">热烈庆祝建党一百周年</h5>
                                                    <span class="date" th:text="${#dates.format(partySmallCard.get(0).updateTime,'yyyy-MM-dd')}">2021-9-15</span>
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="column-list">
                                            <li th:each="a : ${partySmallCard}">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                <a href="#" th:href="@{/Article/articleShow/{id}(id=${a.id})}" th:text="${a.title}">基层治理是国家治理的基石，统筹推进乡镇（街道）和城乡社区治理</a>
                                                <span th:text="${#dates.format(a.updateTime,'yyyy-MM-dd')}">2021-9-16</span>
                                            </li>
                                        </ul>
                                        <div class="more">
                                            <a href="#" th:href="@{/list/15}">更多<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="contentTwo-2">
                                        <div class="column-top" >
                                            <a href="#" th:href="@{/Article/articleShow/{id}(id=${lawSmallCard.get(0).id})}">
                                                <div class="image">
                                                    <img th:if="${lawSmallCard.get(0).firstPicture}" src="../static/images/会议图片1.jpg" alt="" th:src="@{${lawSmallCard.get(0).firstPicture}}">
                                                    <div th:unless="${lawSmallCard.get(0).firstPicture}" class="date">
                                                        <strong th:text="${#dates.format(lawSmallCard.get(0).updateTime,'dd')}"></strong>
                                                        <span th:text="${#dates.format(lawSmallCard.get(0).updateTime,'yyyy-MM')}"></span>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <h5 class="title" th:text="${lawSmallCard.get(0).title}">热烈庆祝建党一百周年</h5>
                                                    <span class="date" th:text="${#dates.format(lawSmallCard.get(0).updateTime,'yyyy-MM-dd')}">2021-9-15</span>
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="column-list">
                                            <li th:each="a : ${lawSmallCard}">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                <a href="#" th:href="@{/Article/aritcleShow/{id}(id=${a.id})}" th:text="${a.title}">基层治理是国家治理的基石，统筹推进乡镇（街道）和城乡社区治理</a>
                                                <span th:text="${#dates.format(a.updateTime,'yyyy-MM-dd')}">2021-9-16</span>
                                            </li>
                                        </ul>
                                        <div class="more">
                                            <a href="#" th:href="@{/list/16}">更多<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="contentTwo-3">
                                        <div class="column-top" >
                                            <a href="#" th:href="@{/Article/articleShow/{id}(id=${massSmallCard.get(0).id})}">
                                                <div class="image">
                                                    <img th:if="${massSmallCard.get(0).firstPicture}" src="../static/images/会议图片1.jpg" alt="" th:src="@{${massSmallCard.get(0).firstPicture}}">
                                                    <div th:unless="${massSmallCard.get(0).firstPicture}" class="date">
                                                        <strong th:text="${#dates.format(massSmallCard.get(0).updateTime,'dd')}"></strong>
                                                        <span th:text="${#dates.format(massSmallCard.get(0).updateTime,'yyyy-MM')}"></span>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <h5 class="title" th:text="${massSmallCard.get(0).title}">热烈庆祝建党一百周年</h5>
                                                    <span class="date" th:text="${#dates.format(massSmallCard.get(0).updateTime,'yyyy-MM-dd')}">2021-9-15</span>
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="column-list">
                                            <li th:each="a : ${massSmallCard}">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                <a href="#" th:href="@{/Article/aritcleShow/{id}(id=${a.id})}" th:text="${a.title}">基层治理是国家治理的基石，统筹推进乡镇（街道）和城乡社区治理</a>
                                                <span th:text="${#dates.format(a.updateTime,'yyyy-MM-dd')}">2021-9-16</span>
                                            </li>
                                        </ul>
                                        <div class="more">
                                            <a href="#" th:href="@{/list/17}">更多<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div> <!--.tabpanel-->
                        </div>
                        <div class="col-md-4 tabTwo">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="../static/images/party1.jpg" th:src="${showPics.get(8).pic} ? ${showPics.get(8).pic} : ${showPics.get(8).url}" alt="...">
                                        <div class="carousel-caption">
                                            ...
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../static/images/party3.jpg" th:src="${showPics.get(9).pic} ? ${showPics.get(9).pic} : ${showPics.get(9).url}" alt="...">
                                        <div class="carousel-caption">
                                            ...
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="../static/images/party4.jpg" th:src="${showPics.get(10).pic} ? ${showPics.get(10).pic} : ${showPics.get(10).url}" alt="...">
                                        <div class="carousel-caption">
                                            ...
                                        </div>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 tabTwo">
                            <div role="tabpanel">
                                <!-- Nav tabs -->
                                <ul id="tabFour" class="nav nav-tabs nav-justified">
                                    <li class="active"><a href="#contentFour-1" data-toggle="tab" aria-expanded="true">公示公告</a></li>
                                    <li class=""><a href="#contentFour-2" data-toggle="tab" aria-expanded="false">信息披露</a></li>
                                    <li class=""><a href="#contentFour-3" data-toggle="tab" aria-expanded="false">人才招聘</a></li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade active in" id="contentFour-1">
                                        <div class="column-top" >
                                            <a href="#" th:href="@{/Article/articleShow/{id}(id=${postSmallCard.get(0).id})}">
                                                <div class="image">
                                                    <img th:if="${postSmallCard.get(0).firstPicture}" src="../static/images/会议图片1.jpg" alt="" th:src="@{${postSmallCard.get(0).firstPicture}}">
                                                    <div th:unless="${postSmallCard.get(0).firstPicture}" class="date">
                                                        <strong th:text="${#dates.format(postSmallCard.get(0).updateTime,'dd')}"></strong>
                                                        <span th:text="${#dates.format(postSmallCard.get(0).updateTime,'yyyy-MM')}"></span>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <h5 class="title" th:text="${postSmallCard.get(0).title}">热烈庆祝建党一百周年</h5>
                                                    <span class="date" th:text="${#dates.format(postSmallCard.get(0).updateTime,'yyyy-MM-dd')}">2021-9-15</span>
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="column-list">
                                            <li th:each="a : ${postSmallCard}">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                <a href="#" th:href="@{/Article/aritcleShow/{id}(id=${a.id})}" th:text="${a.title}">基层治理是国家治理的基石，统筹推进乡镇（街道）和城乡社区治理</a>
                                                <span th:text="${#dates.format(a.updateTime,'yyyy-MM-dd')}">2021-9-16</span>
                                            </li>
                                        </ul>
                                        <div class="more">
                                            <a href="#" th:href="@{/list/18}">更多<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                        </div>

                                    </div>
                                    <div class="tab-pane fade" id="contentFour-2">
                                        <div class="column-top" >
                                            <a href="#" th:href="@{/Article/articleShow/{id}(id=${publicSmallCard.get(0).id})}">
                                                <div class="image">
                                                    <img th:if="${publicSmallCard.get(0).firstPicture}" src="../static/images/会议图片1.jpg" alt="" th:src="@{${publicSmallCard.get(0).firstPicture}}">
                                                    <div th:unless="${publicSmallCard.get(0).firstPicture}" class="date">
                                                        <strong th:text="${#dates.format(publicSmallCard.get(0).updateTime,'dd')}"></strong>
                                                        <span th:text="${#dates.format(publicSmallCard.get(0).updateTime,'yyyy-MM')}"></span>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <h5 class="title" th:text="${publicSmallCard.get(0).title}">热烈庆祝建党一百周年</h5>
                                                    <span class="date" th:text="${#dates.format(publicSmallCard.get(0).updateTime,'yyyy-MM-dd')}">2021-9-15</span>
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="column-list">
                                            <li th:each="a : ${publicSmallCard}">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                <a href="#" th:href="@{/Article/aritcleShow/{id}(id=${a.id})}" th:text="${a.title}">基层治理是国家治理的基石，统筹推进乡镇（街道）和城乡社区治理</a>
                                                <span th:text="${#dates.format(a.updateTime,'yyyy-MM-dd')}">2021-9-16</span>
                                            </li>
                                        </ul>
                                        <div class="more">
                                            <a href="#" th:href="@{/list/19}">更多<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="contentFour-3">
                                        <div class="column-top" >
                                            <a href="#" th:href="@{/Article/articleShow/{id}(id=${RecruitmentSmallCard.get(0).id})}">
                                                <div class="image">
                                                    <img th:if="${RecruitmentSmallCard.get(0).firstPicture}" src="../static/images/会议图片1.jpg" alt="" th:src="@{${RecruitmentSmallCard.get(0).firstPicture}}">
                                                    <div th:unless="${RecruitmentSmallCard.get(0).firstPicture}" class="date">
                                                        <strong th:text="${#dates.format(RecruitmentSmallCard.get(0).updateTime,'dd')}"></strong>
                                                        <span th:text="${#dates.format(RecruitmentSmallCard.get(0).updateTime,'yyyy-MM')}"></span>
                                                    </div>
                                                </div>
                                                <div class="text">
                                                    <h5 class="title" th:text="${RecruitmentSmallCard.get(0).title}">热烈庆祝建党一百周年</h5>
                                                    <span class="date" th:text="${#dates.format(RecruitmentSmallCard.get(0).updateTime,'yyyy-MM-dd')}">2021-9-15</span>
                                                </div>
                                            </a>
                                        </div>
                                        <ul class="column-list">
                                            <li th:each="a : ${RecruitmentSmallCard}">
                                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                <a href="#" th:href="@{/Article/aritcleShow/{id}(id=${a.id})}" th:text="${a.title}">基层治理是国家治理的基石，统筹推进乡镇（街道）和城乡社区治理</a>
                                                <span th:text="${#dates.format(a.updateTime,'yyyy-MM-dd')}">2021-9-16</span>
                                            </li>
                                        </ul>
                                        <div class="more">
                                            <a href="#" th:href="@{/list/21}">更多<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>

                            </div> <!--.tabpanel-->
                        </div>
                    </div>
                </div>
            </section>
            <!-- End 党的建设 -->

            <!-- Start .business -->
            <section class="business ptb-60 gray2-bg">

                <div class="section-title">
                    <div class="container text-center">
                        <h2>业务领域</h2>
                        <span class="bordered-icon"><i class="fa fa-circle-thin"></i></span>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="thumbnail clearfix">
                                <a href="#" th:href="@{/list/14}">
                                    <img  src="../static/images/img-offer-3.jpg" alt="Image" th:src="@{images/img-offer-3.jpg}" class="img-responsive">
                                </a>
                                <div class="caption">
                                    <h3><a href="#" th:href="@{/list/14}">供应链服务</a></h3>

                                    <p>
                                        公司主要经营业务是企业供应链管理和供应链外包服务；企业管理咨询；仓储设施经营管理等。

                                        公司供应链主要围绕核心企业，以原材料出发，为企业提供上下游之间的代理采购服务。公司的经营理念是从消费者的角度，通过企业间的协作，谋求供应链整体最佳化。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="thumbnail clearfix">
                                <a href="#" th:href="@{/list/10}"><img class="img-responsive" src="../static/images/img-offer-2.jpg" alt="Image" th:src="@{images/img-offer-2.jpg}"></a>

                                <div class="caption">
                                    <h3><a href="#" th:href="@{/list/10}">融资担保</a></h3>

                                    <p>
                                        公司主营融资担保业务、非融资担保业务、再担保业务等，主要服务辖内中小企业融资担保需求及非融业务需求，多渠道、多层次缓解中小企业融资难、融资贵的问题，并承担全市融资担保体系的建设重任。

                                        2021年担保公司将充分发挥政府性融资平台的增信、降费、分险功能，以帮助企业解决担保难、贷款难、融资难等问题为宗旨，贯彻落实中央对中小企业减费税降的政策，并不断创新金融服务方式，助力中小微企业健康发展。计划融资担保业务规模达到70亿元。

                                        融资担保集团公司作为抚州市实力较强、规模较大的政府性融资担保机构，成功进入江西省政府性融资担保机构第一批名单中，并于2019年成功对接国家融资担保基金，建立了市县一体的融资担保体系。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="thumbnail clearfix">
                                <a href="#" th:href="@{/list/9}"><img class="img-responsive" src="../static/images/img-offer-1.jpg" alt="Image" th:src="@{images/img-offer-1.jpg}"></a>

                                <div class="caption">
                                    <h3><a href="#" th:href="@{/list/9}">基金管理</a></h3>

                                    <p>
                                        公司主要经营项目为受托管理股权投资企业，从事投资管理及相关咨询服务。

                                        主要业务是发起并管理由其设立的政府引导的册灰姑娘是发展基金、公私合作的PPP项目专项基金、PE、VC型股权投资基金、产业发展基金、并购基金和证券类投资基金等，以及相关投资咨询服务。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="thumbnail clearfix">
                                <a href="#" th:href="@{/list/23}"><img class="img-responsive" src="../static/images/img-offer-4.jpg" alt="Image" th:src="@{images/img-offer-4.jpg}"></a>

                                <div class="caption">
                                    <h3><a href="#" th:href="@{/list/23}">其他</a></h3>

                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- .row -->
                </div>
                <!-- .container -->
            </section>
            <!-- End .business -->

            <!-- Start 页脚 -->
            <footer>
                <div class="fTop ifTop">
                    <div class="container clearfix">
                        <div class="item1 fl">
                            <h5 class="fTit">联系我们</h5>
                            <p class="tel tel1 clearfix">
                                <span class="fl">0794-8236799</span>
                                <em class="fl">/</em>
                                <span class="fl">0794-8236799</span>
                            </p>
                        </div>
                        <div class="item2 fl clearfix">
                            <p>地址: 江西省抚州市迎宾大道777号</p>
                            <p>邮箱: jxfzjrkg@163.com</p>
                        </div>
                        <div class="item3 pull-right">
                            <h5 class="fTit">友情连接</h5>
                            <dl class="select">
                                <dt>
                                    友情连接
                                    <i></i>
                                </dt>
                                <dd style="display: none">
                                    <ul>
                                        <li><a href="http://www.sasac.gov.cn/" target="_blank">国务院国资委</a></li>
                                        <li><a href="http://gzw.jiangxi.gov.cn/" target="_blank">江西国资委</a></li>
                                        <li><a href="http://gzw.jxfz.gov.cn/" target="_blank">抚州国资委</a></li>
                                        <li><a href="https://www.ndrc.gov.cn/" target="_blank">国务院发改委</a></li>
                                        <li><a href="http://drc.jiangxi.gov.cn/" target="_blank">江西发改委</a></li>
                                        <li><a href="http://dpc.jxfz.gov.cn/" target="_blank">抚州发改委</a></li>
                                        <li><a href="http://www.pbc.gov.cn/" target="_blank">中国人民银行</a></li>
                                        <li><a href="http://www.cbirc.gov.cn/" target="_blank">中国银行保险监督管理委员会</a></li>
                                        <li><a href="http://www.csrc.gov.cn/" target="_blank">中国证券监督管理委员会</a></li>
                                        <li><a href="http://www.iac.org.cn/" target="_blank">中国投资协会</a></li>
                                    </ul>
                                </dd>
                            </dl>
                            <div class="footer-widget widget_text">
                                <ul class="list-inline social-links">
                                    <li>
                                        <a href="#" data-toggle="tooltip" data-placement="left" title="<div class='qrcode'><img src='images/qrcode_for_gh_c08999d72416_258.jpg'/></div>">
                                            <i class="fa fa-wechat fa-inverse"></i>
                                        </a>
                                        <div class="tooltip left hidden" role="tooltip">
                                            <div class="tooltip-arrow"></div>
                                            <div class="tooltip-inner"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="https://s.weibo.com/weibo/%25E6%258A%259A%25E5%25B7%259E%25E9%2587%2591%25E6%258E%25A7?topnav=1&wvr=6&b=1"  data-toggle="tooltip" data-placement="right" title="访问新浪微博:https://weibo.com/搜索抚州金控" target="_blank">
                                            <i class="fa fa-weibo fa-inverse"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fBtm">
                    <div class="container clearfix">
                        <p class="copy fl">Copyright © 2021  抚州市金融控股有限公司 ALL RIGHT RESERVED   <a href="https://beian.miit.gov.cn/" target="_blank">赣ICP备18010030号</a></p>
                        <ul class="list-inline fr">
                            <li>
                                <a href="contact.html" th:href="@{/list/20}">加入我们</a>
                            </li>
                            <li>
                                <a href="contact.html" th:href="@{/list/20}">联系我们</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
            <!-- End 页脚 -->

            <!-- 至顶按钮 -->
            <div id="toTopBtn" class="toTop">
                <a class="btn">
                    <i class="fa fa-chevron-circle-up fa-3x fa-inverse"></i>
                </a>
            </div>
        </div>
    </div>



    <!--Start Script -->
    <script src="../static/js/jquery-3.4.1.min.js" type="text/javascript" th:src="@{js/jquery-3.4.1.min.js}"></script>
    <script src="../static/js/swiper-3.4.0.jquery.min.js" type="text/javascript" th:src="@{js/swiper-3.4.0.jquery.min.js}"></script>
    <script src="../static/js/swiper.animate1.0.2.min.js" type="text/javascript" th:src="@{js/swiper.animate1.0.2.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
    <script src="../static/js/jquery.mmenu.all.js" type="text/javascript" th:src="@{js/jquery.mmenu.all.js}"></script>
    <script src="../static/js/common.js" type="text/javascript" th:src="@{js/common.js}"></script>
    <script src="../static/js/TweenMax.js" type="text/javascript" th:src="@{js/TweenMax.js}"></script>
    <script type="text/javascript">
        $("#toTopBtn").click(function () {
            $(window).scrollTop(0,500);
        })
    </script>
    <!--End Script -->
</body>
</html>